apiVersion: v1
kind: Service
metadata:
  name: garage
  namespace: garage
  labels:
    app: garage
spec:
  clusterIP: None
  selector:
    app: garage
  ports:
    - name: rpc
      port: 3901
      targetPort: 3901
---
apiVersion: v1
kind: Service
metadata:
  name: garage-s3
  namespace: garage
  labels:
    app: garage
  annotations:
    metallb.universe.tf/loadBalancerIPs: "{{ garage_s3_vip }}"
spec:
  type: LoadBalancer
  selector:
    app: garage
  ports:
    - name: s3-api
      port: 3900
      targetPort: 3900
---
apiVersion: v1
kind: Service
metadata:
  name: garage-admin
  namespace: garage
  labels:
    app: garage
spec:
  type: ClusterIP
  selector:
    app: garage
  ports:
    - name: admin
      port: 3903
      targetPort: 3903
